*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
    
}
body{
    background: black;


}
/* Navbar styles */
.navbar {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: grey;
    justify-content: space-between;
    color: white;
  }
  
  .navbar .logo {
    display: inline-block;
  }
  
  .navbar .logo img {
    max-width: 100%;
    height: auto;
  }
  
  .navbar .navlinks {
    display: inline-block;
  }
  
   .navlinks a {
    display: inline-block;
    padding-right:20px ;
    color: antiquewhite;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
  }
  .navlinks a:hover{
    color: rgb(14, 146, 45);

  }

  .container {
    display: flex;
    gap: 20px;
    margin:40px;
    
  }

  
  .ice-section {
    flex: 1 0 50%;
    border-radius:10px ;
    background-color: blue;
    padding: 4px;
  }
  .ice-section h2{
    padding: 20px;
    text-align: center;
    
  }
  .ice-section li{
    background: white;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
  }
  .ice-section li:hover{
    background-color: chocolate;
  }
  
  .details-section {
    flex: 1 0 40%;
    background-color: lightblue;
    border-radius: 10px;
    padding: 20px;
  }

  
  .ice-details img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
  .button-container button{
    background-color:tomato;
    margin-top: 1rem;
    padding: 10px 30px;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    color: antiquewhite;
    cursor: pointer;
  }
  .button-container button:hover{
    background-color: orange;
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
  }
  

  /* Homepage styles */
  .homepage {
    color: aliceblue;
    display: flex;
    margin-top: 4rem; /* Adjust the margin as needed */
  }
  .homeimage{
    flex: 1 0 40%;
    padding: 0px;

  }
  
  .homeimage img {
    width: 100%;
    height: 70vh;
    object-fit: contain;
    margin-left: 0px;
  }

 
  .homebtn a button{
    padding: 10px 30px;
    margin-left: 25rem;
    background-color: coral;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: aliceblue;
    
  }
  .homebtn a button:hover{
    background-color: coral;
    transform: scale(1.2);
  }

  
  
  .hometitle {
    display: inline-block;
    margin-right: 10rem;
    /* flex-direction: row; */
  }
  .hometitle img{
    width: 100%;
    height: 50vh;
    object-fit: contain;
  }
  
  .hometitle h1 {
    flex: 1;
    font-size: 50px;
  }
  
  .hometitle p {
    flex: 1;
    padding-top: 20px;
    font-size: 15px;
  }
  .hometitle img {
    padding-top: 10px;
    padding-right: 200px;
    width: 100%;
    height:200px;
  }
  
  .aboutice{
    margin: 7rem;
    background-color: aqua;
    text-align: center;
    padding: 20px;
    font-size: 20px;

  }
  .aboutice h2{
    font-size: 25px;
    margin-bottom: 10px;

  }

 .abouticebtn button {
     background-color: crimson;
     padding:10px 30px;
     margin-top: 20px;
     color: aliceblue;
     font-size: 20px;
     border:none ;
     border-radius: 4px;
     cursor: pointer;
  }

  .contactice{
    margin: 5rem;

  }
  .contactinfo{
    background-color: grey;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
  }
  /* Footer styles */
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: grey;
    color: aliceblue;
    
  }
  .footerice p{
    padding-left: 40%;
    font-size: 20px;
  }


